<md-dialog aria-label="{{ 'FORGOT_PASSWORD' | translate }}"  ng-cloak flex="40">
<form class="form" name="formForgotPassword" novalidate ng-submit="recoverPassword()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'PASSWORD_RECOVERY' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="resources/img/icons/ic_close_24px.svg" aria-label="{{ 'CLOSE_DIALOG' | translate }}"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
	      <md-input-container class="md-block" flex-gt-sm>
          	<label for="email">{{ 'EMAIL' | translate }}</label>
          	<md-icon md-svg-src="resources/img/icons/ic_email_24px.svg"></md-icon>
          	<input name="email" id="email" ng-model="email" required maxlength="100" ng-pattern="/^.+@.+\..+$/" />
          	<div ng-messages="formForgotPassword.email.$error">
	            <div ng-message-exp="['required', 'maxlength', 'pattern']">{{ 'MESSAGE_ERROR_EMAIL_PATTERN' | translate }}</div>
          	</div>
          </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    	<md-button type="submit" ng-disabled="!formForgotPassword.$valid" class="md-raised md-primary">
    		<md-icon md-svg-icon="resources/img/icons/ic_send_24px.svg"></md-icon>
    		{{ 'SEND' | translate }}
    	</md-button>
	</md-dialog-actions>
</form>
</md-dialog>
