<md-content style="overflow: visible" layout="row" layout-align="center center">
	<form class="form" ng-submit="changePassword()" name="formForgotPassword" novalidate flex="100" flex-gt-md='100' flex-gt-xs='100' flex-xs='100'>
		<md-card class="no-margin" flex='100'>
			<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
		        <span flex></span>
		      </div>
		    </md-toolbar>
		    
		    <md-card-content class="md-padding layout-align-center-stretch" layout-align="center">
		    
			      <md-input-container class="md-block">
			      	<md-icon md-svg-src="resources/img/icons/ic_lock_24px.svg"></md-icon>
			        <label for="password">{{ 'PASSWORD' | translate }}</label>
			        <input type="password" name="password" id="password" ng-model="auxCredentials.password" required>
			        <div ng-if="formForgotPassword.password.$touched" ng-messages="formForgotPassword.password.$error">
			          <div ng-message="required">{{ 'MESSAGE_ERROR_REQUIRED_FIELD' | translate }}</div>
			        </div>
			      </md-input-container>
			      
			      <md-input-container class="md-block">
			      	<md-icon md-svg-src="resources/img/icons/ic_lock_24px.svg"></md-icon>
			        <label for="newPassword">{{ 'NEW_PASSWORD' | translate }}</label>
			        <input type="password" name="newPassword" id="newPassword" nx-validade-password="auxCredentials.newPassword" ng-model="auxCredentials.newPassword">
			        <div ng-if="formForgotPassword.newPassword.$touched" ng-messages="formForgotPassword.newPassword.$error">
			       		<div ng-message="nxValidadePassword">{{ 'MESSAGE_ERROR_INVALID_PASSWORD' | translate }}</div>		          
			        </div>
			      </md-input-container>
			      
			      <md-input-container class="md-block">
			      	<md-icon md-svg-src="resources/img/icons/ic_lock_24px.svg"></md-icon>
			        <label for="confirmPasswordNew">{{ 'CONFIRM_NEW_PASSWORD' | translate }}</label>
			        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" nx-equal="auxCredentials.newPassword" ng-model="auxCredentials.newPasswordConfirm">
			        <div ng-if="formForgotPassword.newPasswordConfirm.$touched" ng-messages="formForgotPassword.newPasswordConfirm.$error">
			        	<div ng-message="nxEqual">{{ 'PASSWORDS_NOT_MATCH' | translate }}</div>
			        </div>
			      </md-input-container>
		    </md-card-content>
           <section layout="row" layout-align="center center" layout-wrap>
               <md-button type="submit" ng-disabled="!formForgotPassword.$valid" class="md-raised md-primary">
               		<md-icon md-svg-icon="resources/img/icons/ic_save_24px.svg"></md-icon>
               		{{ 'CHANGE' | translate }}
               </md-button>
            </section>
			
		</md-card>
	</form>
</md-content>
